/*selector de etiqueta*/
h1{
    color: red;
}
H2{
    color: blue;
}
/*selector de clase*/
.oscuro{
    background-color: black;
    color: white;
}
/*selector ID*/
#biografia{
    background-color: rgb(7, 7, 7);

}
